html {
    background-color: hsla(210, 59%, 53%, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    text-align: justify;
}

.spacer {
    flex: 1;
}

#nav-menu {
    top: 0;
    right: 0;
    position: fixed;
    text-align: right;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding: 20px 20px 35px 20px;
}

.nav-button {
    position: relative;
    z-index: 90;
    line-height: 30px;
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    transition: transform 400ms ease-in-out, opacity 300ms ease-in-out;
}

.nav-button:hover {
    opacity: 50%;
}

.nav-button>div {
    height: 35px;
    display: flex;
}

.nav-button img {
    margin: 0 6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: white;
}

.nav-button span {
    display: inline-block;
    vertical-align: middle;
}

#nav-hamburger {
    z-index: 100;
}

#nav-art.hidden {
    opacity: 0%;
    transform: translateX(150px);
}

#nav-contact.hidden {
    opacity: 0%;
    transform: translateX(100px);
}

#sky-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(210, 59%, 53%, 1) 0%, hsla(203, 71%, 80%, 1) 100%);
    z-index: -100;
}

#main {
    width: 100vw;
    overflow: visible;
}

#main>div {
    position: absolute;
    width: 100%;
    overflow: clip;
}

.clouds {
    height: 600vh;
    pointer-events: none;
}

#above-cloud {
    display: flex;
    flex-direction: row;
    height: 120vh;
}

#above-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 8;
    width: 100%;
    height: 100vh;
}

#above-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 10;
    width: 100%;
    height: 100vh;
}

#big-info {
    display: block;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

#big-nimbus {
    position: absolute;
    max-width: 100%;
    height: 87%;
    aspect-ratio: 0.7;
}

#big-nimbus-wrapper {
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 100%;
    aspect-ratio: 0.7;
    animation: phone-anim 5s infinite;
    transition-timing-function: ease-in-out;
}

@keyframes phone-anim {
    0% {
        transform: translate(0, -50%)
    }

    50% {
        transform: translate(0, -52%)
    }

    100% {
        transform: translate(0, -50%)
    }
}


#big-nimbus-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/mona_phone.png') no-repeat left;
    background-size: contain;
    z-index: 10;
}


@keyframes arm-anim {
    0% {
        transform: translate(-38%, 185%) rotate(-25deg)
    }

    50% {
        transform: translate(-38%, 185%) rotate(15deg)
    }

    100% {
        transform: translate(-38%, 185%) rotate(-25deg)
    }
}

#big-nimbus-arm-image {
    margin: 0;
    position: absolute;
    width: 40%;
    aspect-ratio: 2;
    background: url('assets/mona_phone_arm.png') no-repeat left;
    background-size: contain;
    animation: arm-anim 1.5s infinite;
    animation-timing-function: ease;
    /* transition-timing-function: ease; */
    transform: translate(-38%, 185%);
    transform-origin: 90% 60%;
    z-index: 9;
}

#big-nimbus-arm-image.fast {
    animation-duration: 0.4s;
}


@media screen and (orientation:portrait) {
    #above-cloud {
        flex-direction: column;
    }

    #above-left {
        flex: 3;
        justify-content: space-evenly;
    }

    #above-right {
        flex-direction: column;
        flex: 9;
        justify-content: flex-start;
    }

    #big-nimbus {
        height: 85%;
        transform: scale(0.9) translate(5vw, -5%);
    }
}


#below-cloud {
    top: 120vh;
    height: 500vh;
}

#nimbus-path {
    width: 100%;
    height: 100%;
}

#nimbus-path svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#nimbus-path path {
    fill: none;
    stroke: hsl(38, 100%, 50%);
    stroke-width: 1px;
    transition: stroke 0.25s ease;
}

#nimbus-element {
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    display: inline;
    offset-rotate: 0deg;
    background: url('assets/small-nimbus.webp') no-repeat center;
    background-size: contain;
    position: absolute;
    offset-path: path(var(--path));
    transform: translateY(-40%);
    transition: 0.2s ease-out;
    z-index: 10;
}

.cloud {
    position: absolute;
    z-index: inherit;
    width: 60%;
    height: 30vh;
}

.cloud.big {
    width: 70%;
    height: 45vh;
}

.cloud.bigger {
    width: 80%;
    height: 60vh;
}

.cloud::before {
    content: "";
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('assets/cloud.png') no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
    /* background-color: #e121db55; */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50vw;
    position: absolute;
    background-color: #ff00ff55;
    padding: 4vw;
    z-index: 30;
    box-sizing: border-box;
}

.info.cloud {
    width: auto;
    height: auto;
}

.info.cloud::before {
    left: 50%;
    top: 50%;
    z-index: 20;
    background-size: 100% 100%;
}

.info>p {
    position: relative;
    z-index: 21;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    background-size: 100% 100%;
    z-index: 50;
}

.cloud .icon {
    margin: 0.6rem;
}

#ground {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: aqua;
    z-index: 25;
}

.db-button {
    background-image:
        radial-gradient(circle at 25% 25%, rgba(255, 255, 255, 0.842) 13%, rgba(255, 255, 255, 0) 20%),
        linear-gradient(to bottom right, orange 45%, #ffa50000 80%),
        radial-gradient(rgb(255, 196, 87) 30%, orange 34%, red 60%);
    box-shadow: inset 0px 0px 5px 5px rgb(255, 184, 19);
    color: #d54806;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 46px;
    font-size: 1rem;
    z-index: 100;
}

.db-button:hover {
    background-image:
        radial-gradient(circle at 25% 25%, rgba(255, 255, 255, 0.842) 13%, rgba(255, 255, 255, 0) 20%),
        linear-gradient(to bottom right, rgb(255, 206, 59) 45%, #ffa50000 80%),
        radial-gradient(rgb(255, 219, 111) 30%, rgb(255, 206, 59) 34%, rgb(244, 84, 20) 60%);
    box-shadow: inset 0px 0px 5px 5px rgb(255, 228, 108);
}